/**** CSS reset ****/
/* this section is for adding resets that makes a new clean base line for our CSS */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
* {
  margin: 0;
  padding: 0;

  /* force styling of type through styling, rather than elements */
  font: inherit;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;

  /* ONE of these might be relevant to change how the image squish or clip */
  object-fit: cover;
  /* height: auto; */
}

/**** BODY ****/
body {
  font-family: "Roboto", Arial, sans-serif;
  background-color: pink;
  margin-bottom: 2.5rem;
}

/**** HEADER ****/
.header-image {
  width: 100%;
  max-width: 75rem;
  height: 20rem;
  margin: 0 auto;
}

/**** MAIN ****/
main {
  max-width: 75rem;
  margin: 0 auto;
  background: white;
  padding: 3rem;
}

/**** TEXTS ****/
h1 {
  color: darkred;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 800;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 1.5rem;
}

.gray-textbox {
  background: lightgray;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

/**** LISTS ****/
ul,
ol {
  padding-left: 1.25rem;
  margin-top: 1.5rem;
}

li {
  margin-bottom: 0.75rem;
}

/**** IMAGES ****/
.serving-images {
  display: flex;
  gap: 1rem;
}

.serving-images img {
  width: 50%;
  object-fit: cover;
}

/* RESPONSIVE */
@media (max-width: 50rem) {
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  .header-image {
    height: auto;
  }
  main {
    padding: 1rem;
    padding-bottom: 2.5rem;
  }
  .serving-images {
    flex-direction: column;
  }
  .serving-images img {
    width: 100%;
  }
}
