/**** CSS reset ****/
/* this section is for adding resets that makes a new clean base line for our CSS */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
* {
  margin: 0;
  padding: 0;

  /* force styling of type through styling, rather than elements */
  font: inherit;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;

  /* ONE of these might be relevant to change how the image squish or clip */
  object-fit: cover;
  /* height: auto; */
}

/**** VARIABLES ****/
:root {
  /*font-family */
  --ff-main: "Roboto", Arial, sans-serif;
  --ff-nav: "Raleway", sans-serif;

  /* font-weight */
  --fw-bold: 600;
  --fw-extrabold: 800;

  /* font-size */
  --fs-small: 1.25rem;
  --fs-medium: 1.5rem;
  --fs-extramedium: 1.75rem;
  --fs-large: 2rem;

  /* colors */
  --clr-body-background: pink;
  --clr-main-background: white;
  --clr-intro-heading: darkred;
  --clr-intro-background: lightgray;

  /* sizes */
  --size-main-max-width: 75rem;
}

/**** BODY ****/
body {
  font-family: var(--ff-main);
  background-color: var(--clr-body-background);
  margin-block-end: 3rem;
}

/**** HEADER ****/
.header-image {
  width: 100%;
  max-width: var(--size-main-max-width);
  height: 20rem;
  margin: 0 auto;
}

/**** NAVBAR ****/
.navbar {
  display: flex;
  align-items: center;
  height: 7rem;
  background-color: #404040;
  font-family: var(--ff-nav);
  max-width: var(--size-main-max-width);
  margin: 0 auto;
  padding-inline: 3rem;
  ul,
  ol {
    padding-inline-start: 0;
    margin-block-start: 0;
    li {
      margin-block-end: 0;
    }
  }
  .navbar__logo,
  .navbar__login {
    flex: 1;
  }
}

.navbar__logo {
  color: #f1f1f1;
  letter-spacing: 0.5rem;
  font-size: clamp(1.25rem, 2vw, 2rem);
  font-weight: var(--fw-extrabold);
  text-decoration: none;
  z-index: 1000;
  h1 {
    font-style: oblique;
  }
}

.navbar__links {
  display: flex;
  list-style: none;
  gap: clamp(7rem, 2vw, 2.5rem);
  justify-content: center;
  a {
    color: #9b9a9a;
    text-decoration: none;
    letter-spacing: 0.15rem;
    font-weight: bold;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    &:hover {
      color: #f1f1f1;
    }
  }
}

/* Desktop login */
.navbar__login {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  a {
    color: #f1f1f1;
    text-decoration: none;
    letter-spacing: 0.15rem;
    font-weight: bold;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
  }
}

/* Hide login--mobile and burgerMenu on desktop */
.navbar__login--mobile,
.burgerMenu {
  display: none;
}

/**** MAIN ****/
main {
  max-width: var(--size-main-max-width);
  margin: 0 auto;
  background: var(--clr-main-background);
  padding: 3rem;
}

/**** TEXTS ****/
h2 {
  color: var(--clr-intro-heading);
  margin-block-end: 1rem;
  font-size: var(--fs-large);
  font-weight: var(--fw-extrabold);
}

h3 {
  margin-block-start: 1.5rem;
  margin-block-end: 0.25rem;
  font-weight: var(--fw-bold);
  font-size: var(--fs-medium);
}

.recipe__introduction-text {
  background: var(--clr-intro-background);
  padding: 1rem;
  margin-block-end: 1.5rem;
}

.recipe-card__title,
.recipes__title {
  text-align: center;
  margin-block-end: 1rem;
}

.recipe-card__description {
  padding-inline: 1rem;
  padding-block-start: 1rem;
  /* text-align: center; */
}

/**** LISTS ****/
ul,
ol {
  padding-inline-start: 1.5rem;
  margin-block-start: 0.75rem;
  li {
    margin-block-end: 0.75rem;
  }
}

/**** SERVING IMAGES ****/
.recipe__serving-images {
  display: flex;
  gap: 1rem;
  justify-content: center;

  img {
    width: 50%;
    object-fit: cover;
  }
}

/**** RECIPE CARDS ****/
.recipes__list {
  display: grid;
  list-style: none;
  gap: 1rem;
  /* grid-template-columns: repeat(4, minmax(10px, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 1rem;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 100%; */
  background-color: var(--clr-intro-background);
  img {
    width: 100%;
  }
}

.recipe-card__footer {
  padding: 1rem;
  margin: 0 auto;
}

.recipe-card__show-recipe {
  text-decoration: none;
  font-weight: var(--fw-extrabold);
  color: var(--clr-intro-heading);
}

/**** RESPONSIVE ****/
@media (max-width: 50rem) {
  h2 {
    font-size: var(--fs-extramedium);
  }
  h3 {
    font-size: var(--fs-small);
  }
  .header-image {
    height: auto;
  }
  main {
    padding: 1rem;
    padding-block-end: 3rem;
  }
  .recipe__serving-images {
    flex-direction: column;
    img {
      width: 100%;
    }
  }

  /* Navbar mobile */
  .navbar {
    height: 5rem;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    .burgerMenu {
      display: block;
      z-index: 1000;
      div {
        width: 1.75rem;
        height: 0.2rem;
        background-color: #f1f1f1;
        margin-block: 0.35rem;
      }
    }
    ul {
      padding-inline-start: inherit;
    }

    .navbar__links {
      position: fixed;
      top: 0;
      right: -100%;
      width: min(55vw, 15rem);
      height: 100vh;
      background-color: #404040;
      flex-direction: column;
      gap: 2rem;
      transition: right 0.3s ease;
      padding-bottom: 20rem;
      &.active {
        right: 0;
      }
      a {
        font-size: 1.5rem;
      }
      /* Mobile login */
      .navbar__login--mobile {
        display: flex;
        margin-top: 6rem;
        a {
          font-size: 1.5rem;
          color: #f1f1f1;
        }
      }
    }
  }

  /* Hide desktop login on mobile */
  .navbar__login {
    display: none;
  }

  body {
    padding-top: 5rem;
  }
}
