body {
    margin: 0;
    font-family: arial;
    background-color: pink;
}

.headerbild {
    width: 100%;
    max-width: 1300px;
    height: 300px;
    object-fit: cover;
    display: flex;
    margin: auto;
}

main {
    max-width: 1200px;
    margin: auto;
    background: white;
    padding: 50px;
}

h1 {
    color: darkred;
}

#gray {
    background: lightgray;
    padding: 15px;
}
ul,
ol {
    margin-left: -10px;
}

li {
    margin-bottom: 10px;
}

.bilder {
    display: flex;
    gap: 10px;
}

.bilder img {
    width: 50%;
    object-fit: cover;
}
/* Responsiv design */
@media (max-width: 800px) {
   h1 {
        font-size: 6vw;
    }
    h2 {
        font-size: 5vw;
    }
    .headerbild {
        width: 100%;
        height: auto;
    }
    #gray {
        font-size: 4vw;
        padding: 4vw;
    }
    main {
        padding: 4vw;
        font-size: 4vw;
    }
        li {
            line-height: 150%;
        }
    .bilder {
        flex-direction: column;
    }
    .bilder img {
        width: 100%;
    }
}